In [15]:
# Load Packages
import pandas as pd
from datetime import date

In [17]:
# Load Tweets
tweets = pd.read_csv("tweets.csv",
                     lineterminator='\n')

# Rearrange Data
tweets = tweets[["company", "date", "content"]] # Select Columns
tweets['date'] = pd.to_datetime(tweets['date']) # Format Date
tweets['date'] = tweets['date'].dt.date 
tweet

      company        date                                            content
0       $AAPL  2021-01-01  $spy $spx $etsy $ndx $qqq $tsla $aapl $amzn $t...
1       $AAPL  2021-01-01  Treated myself to an apple watch this year. It...
2       $AAPL  2021-01-01  I became debt free in 2020. This year my accou...
3       $AAPL  2021-01-02  I hate to say it, but I have absolutely no (st...
4       $AAPL  2021-01-02  My investments in $AAPL $TSLA and #Bitcoin cou...
...       ...         ...                                                ...
47790    $AMD  2023-03-18  All üëÄon $AMD ‚ÄºÔ∏è 5 of the top 15 on this list w...
47791    $AMD  2023-03-18  üìäBest performing S&amp;P 500 stocks so far in ...
47792    $AMD  2023-03-19  Technically speaking, disregarding fomc and ev...
47793    $AMD  2023-03-19  Wow I would say $nvda and $amd have been fintw...
47794    $AMD  2023-03-19  Credit Suisse's top shareholders and AT1 bondh...

[47795 rows x 3 columns]

In [18]:
# Load News Articles from Mediastack & EODHD
mediastack = pd.read_csv("mediastack.csv",
                         lineterminator='\n')

EODHD = pd.read_csv("EODHD.csv",
                    lineterminator='\n')

EODHD2 = pd.read_csv("EODHD2.csv",
                    lineterminator='\n')

# Rearrange Data
mediastack = mediastack[["company", "published_at", "description"]] # Select Columns
mediastack.columns = ["company", "date", "content"] # Rename
mediastack['date'] = pd.to_datetime(mediastack['date']) # Format Date
mediastack['date'] = mediastack['date'].dt.date
mediastack["company"] = mediastack["company"].str[:4].str.upper() # Rename company such that equal to company ticker

EODHD = EODHD[["company", "date", "content"]] # Select columns
EODHD['date'] = pd.to_datetime(EODHD['date']) # Format Date
EODHD['date'] = EODHD['date'].dt.date

EODHD2 = EODHD2[["company", "date", "content"]] # Select columns
EODHD2['date'] = pd.to_datetime(EODHD2['date']) # Format Date
EODHD2['date'] = EODHD2['date'].dt.date

news = mediastack.append(EODHD)
news = news.append(EODHD2)
news

/tmp/ipykernel_29720/4033365549.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  news = mediastack.append(EODHD)
/tmp/ipykernel_29720/4033365549.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  news = news.append(EODHD2)

      company        date                                            content
0        APPL  2022-12-01  Apple iPhone13: The gang purchased duplicate p...
1        APPL  2022-12-01  Some victims have reported that their loans we...
2        APPL  2022-12-01  Google is quickly joining Apple in recognizing...
3        APPL  2022-12-01  TSMC plans to make more advanced chips in U.S....
4        APPL  2022-12-01  Back in my day, Apple gave us one iPad, and we...
...       ...         ...                                                ...
19887     AMD  2023-01-02  In this article, we will take a look at Ken Fi...
19888     AMD  2023-01-02  Taiwan Semiconductor Manufacturing (NYSE: TSM)...
19889     AMD  2023-01-02  While Advanced Micro Devices (NASDAQ: AMD) is ...
19890     AMD  2023-01-02  Investors often turn to recommendations made b...
19891     AMD  2023-01-02  This chip company suffered from a collapsing P...

[45215 rows x 3 columns]

In [19]:
# Save as CSV
tweets.to_csv("tweets_formated.csv", index = False)
news.to_csv("news_formated.csv", index = False)